/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Photo by <a href="https://unsplash.com/@federicagiusti?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Federica Giusti</a> on <a href="https://unsplash.com/s/photos/shadow-on-the-wall?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pawel Czerwinski</a> on <a href="https://unsplash.com/s/photos/plant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@alexlvrs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alex Lvrs</a> on <a href="https://unsplash.com/s/photos/plant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/plant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
body {
    background-image: url(/images/backgroun-color.jpg);
    background-size: cover;
}
.black-frame {
    display: flex;
    position:absolute;
    left: 30px;
    top: 100px;
    width: 500px;
    height: 600px;
}
.img-1 {
    display: flex;
}
.my-name {
    display: flex;
    font-size: 45px;
    margin-top: 250px;
    font-family: 'Lato', sans-serif;
    flex-shrink: 0;
    align-items: center;
}
.my-name:before {
    content: '';
    flex-grow: 1;
    height: 2px;
    display: inline-block;
    background-color: black;
}
.profession {
    display: flex;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    flex-shrink: 0;
    align-items: center;
}
.profession:after {
    content: '';
    flex-grow: 1;
    height: 2px;
    display: inline-block;
    background-color: black;