:root {
    --headind-font-family: 'Lato', sans-serif;
    --default-font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(/images/backgroun-color.jpg);
    background-size: cover;
}
.my-name, 
.profession, 
.about-me, 
.my-work {
    display: flex;
    font-size: 45px;
    /* margin-top: 250px; */
    font-family: var(--headind-font-family);
    flex-shrink: 0;
    align-items: center;
    /* text-align: center; */
}
.my-name:before {
    content: '';
    flex-grow: 1;
    height: 2px;
    display: inline-block;
    background-color: black;
}
.profession:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    display: inline-block;
    background-color: black;
}
.icon-leaf {
    max-width: 30px;
    padding-left: 10px;
}

.about-me:before {
    content: '';
    flex-grow: 1;
    height: 1px;
    display: inline-block;
    background-color: black;
}
.my-work:before, 
.my-work:after  {
    content: '';
    flex-grow: 1;
    height: 1px;
    display: inline-block;
    background-color: black;
}